body {
    padding: 0%;
    margin: 0%;
}

#logo {
    display: flex;
    width: 258.6px;
    height: 117px;
    padding: 0px 100px;
}

#headlist li {
    list-style: none;
    font-size: 30px;
}

#headlist {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#nav {
    display: flex;
    box-shadow: 1px 0px 4px #000000;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
    background-color: white; 
}

#nav-links {
    align-content: center;
    padding: 0px 30px;
}

#nav-links li {
    padding: 0px 30px;
}

#masterclass {
    display: flex;
    border-radius: 10px;
    border: #004AAD 1px solid;
    align-items: center;
    color: #004AAD;
    padding: 17px 30px;
    font-size: 30px;
    font-weight: 600;
}

div#masterclass {
    align-self: center;
    margin: 0px 25px;
}

#one {
    margin-top: 117px;
    background: linear-gradient(to right, #004AAD, #2266C0);
    height: 1007px;
    width: 100%;
}
#circle {
      background-color: #2266C0;
    height: 874px;
    width: 891px;
    align-self:stretch;
    border-radius: 50%;
    margin: 50px 0px;
    overflow: visible;
    }
